$zinc50: #fafafa;
$zinc100: #f4f4f5;
$zinc200: #e4e4e7;
$zinc300: #d4d4d8;
$zinc400: #a1a1aa;
$zinc500: #71717a;
$zinc600: #52525b;
$zinc700: #3f3f46;
$zinc800: #27272a;
$zinc900: #18181b;
$zinc950: #09090b;

$primaryColor: #00745A;
$white: #fff;
$black: #000;

$breakpoint-mobile: 768px;
$bgFooter: #0B0B0B;
$bgInput: #F8F8F8;
$badgeBg: #E5E5E5;