@use "../../../styles/variables.scss" as  v;

.Header {
  border-bottom: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.HeaderContainer {
  max-width: 1280px;
  width: 100%;
  padding: 40px 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.LogoBox {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  span {
    font-weight: 700;
    font-size: 1.125rem; /* 18px */
    line-height: 1.75rem; /* 28px */
  }
}

.Menu {
  display: none;
  align-items: center;
  gap: 1.25rem;

  a {
    font-size: 1.25rem; /* 20px */
    line-height: 1.75rem; /* 28px */
    font-weight: 500;
    text-decoration: none;
  }
}

.MenuMobile {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1000;
  width: 60%;
  height: 100vh;
  min-height: 100vh;
  background-color: #00745A;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  padding: 0 2rem;

  a {
    font-size: 1.25rem; /* 20px */
    line-height: 1.75rem; /* 28px */
    font-weight: 500;
    text-decoration: none;
    padding: 0.5rem 0;
  }

  
  .InactiveLink {
    color: v.$zinc300;
    font-weight: 400;
  }

}

.MenuBtn {
  display: none;
}

@media (width < v.$breakpoint-mobile) {
  .MenuBtn {
    z-index: 1001;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: all 0.6s ease;
  }
}

.XIcon {
  color: #fff;
}

.ActiveLink {
  border-bottom: 1px solid v.$white;
  color: v.$white;
}

// Classe que é aplicada quando isOpen é true
.MenuMobile_isOpen {
  @media (width < v.$breakpoint-mobile) {
    transform: translateX(0); 
  }
}

.MenuOverlay {
  transition: all 0.5s ease;
}

// Fundo escuro
.MenuOverlay {
  @media (width < v.$breakpoint-mobile) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 999;
  }
}


@media (width > v.$breakpoint-mobile) {
  .LogoBox {
    span {
      font-size: 2.25rem;
      line-height: 1;
    }
  }

  .Menu {
    display: flex;
  }
}

.btnVoluntario {
  background-color: v.$primaryColor;
  color: v.$white;
  padding: 1rem 2rem;
  border-radius: 12px;
  transition: all 0.5s ease;

  &:hover {
    border: 2px solid v.$primaryColor;
    background-color: transparent;
    color: v.$primaryColor;
  }
}