@use '../../../styles/variables.scss' as v;

.Hero {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4.375rem;
}

.HeroContainer {
  max-width: 80rem;
  width: 100%;
  padding: 0 2rem;
}

.HeroLeft {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1.25rem;
}

.Badge {
  background-color: v.$badgeBg;
  padding: 0.75rem 1.375rem;
  width: fit-content;
  border-radius: 75rem;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  img {
    width: 2rem;
    height: 2rem;
  }
  
  span {
    	font-size: 1.25rem; /* 20px */
      line-height: 1.75rem; /* 28px */
      font-weight: 500;
  }
}

.HeroText {
  display: flex;
  flex-direction: column;
  gap: 1.75rem;

  h1 {
    font-size: 3rem; /* 48px */
    line-height: 1;
  }

  p {
    font-size: 1.25rem; /* 20px */
    line-height: 1.75rem; /* 28px */
  }
}

.HeroBtn {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;

  button {
    padding: 1rem 0;
    border-radius: 0.75rem;
    font-weight: 500;
    font-size: 1.25rem; /* 20px */
    line-height: 1.75rem; /* 28px */
  }
}

.HeroVoluntario {
  border: none;
  background-color: v.$primaryColor;
  color: v.$white;
  transition: all 0.5s ease;
  
  &:hover {
    border: 1.4px solid v.$primaryColor;
    background-color: transparent;
    color: v.$primaryColor;
  }
}

.HeroAjudar {
  border: 1.4px solid v.$primaryColor;
  color: v.$primaryColor;
  background-color: transparent;
  transition: all 0.5s ease;
  
  &:hover {
    background-color: v.$primaryColor;
    color: v.$white;
    border: none;
  }
}

.HeroRight {
  display: none;
}

@media (width > v.$breakpoint-mobile) {
  .Hero {
    margin-top: 2rem;
  }

  .HeroContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .HeroLeft {
    width: 500px;
    align-items: start;
    text-align: left;

    h1 {
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      font-size: 3.75rem; /* 60px */
      line-height: 1;
    }
  }

  .HeroBtn {
    flex-direction: row;
    width: 100%;

    button {
      padding: 0.8rem 1rem;
    }
  }

  .HeroRight {
    display: block;

    img {
      width: 500px;
    }
  }

  
}