@use '../../../styles/variables.scss' as v;

.Footer {
  background-color: v.$bgFooter;
  display: flex;
  justify-content: center;
}

.FooterContainer {
  width: 100%;
  max-width: 80rem;
  padding: 2rem;

  display: flex;
  flex-direction: column;
  gap: 7.75rem;
}

.FooterTop {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.LogoFooterBox, .Contact, .SocialMedia, .FooterBottom {
  color: v.$white;
}

.LogoFooterBox {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  p {
    font-size: 0.875rem; /* 14px */
    line-height: 1.25rem; /* 20px */
  }
}

.LogoFooter {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  span {
    font-weight: 700;
    font-size: 1rem; /* 16px */
    line-height: 1.5rem; /* 24px */
  }
}

.SocialMedia, .Contact {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  h2 {
    font-size: 1rem; /* 16px */
    line-height: 1.5rem; /* 24px */
  }

}

.ContactItem, .SocialMediaItem {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  p {
    font-size: 0.875rem; /* 14px */
    line-height: 1.25rem; /* 20px */
  }
}

.FooterBottom {
  text-align: center;
  font-size: 0.75rem; /* 12px */
  line-height: 1rem; /* 16px */
}