* {
  font-family: "Inter", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  background: transparent;
  transition: all 2s ease;
}