@use '../../../styles/variables.scss' as v;

.HeroVoluntario {
  display: flex;
  justify-content: center;
}

.HeroVoluntarioContainer {
  max-width: 80rem;
  width: 100%;
  padding: 4rem 2rem;

  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.HeroVoluntarioTitle {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 0.5rem;

  h1 {
    font-size: 3rem; /* 48px */
    line-height: 1;
  }

  p {
    font-size: 1.25rem; /* 20px */
    line-height: 1.75rem; /* 28px */
  }
}

.CardHeroVoluntario {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.CardHeroVoluntarioBox {
  border: 1px solid #000;
  padding: 2rem;
  border-radius: 0.875rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;


  h2 {
    font-size: 1.5rem; /* 24px */
    line-height: 2rem; /* 32px */
  }

  p {
    font-size: 0.875rem; /* 14px */
    line-height: 1.25rem; /* 20px */
  }
}

@media (width > v.$breakpoint-mobile) {
  .HeroVoluntarioTitle {
    h2 {
      font-size: 2.25rem; /* 36px */
      line-height: 2.5rem; /* 40px */
    }
  }

  .CardHeroVoluntario {
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
  }
}